{% load staticfiles %}
<!DOCTYPE html>

<html lang="zh-hans">
<head>
    <title>Vshare | 用户注册</title>
    <link href="{% static 'img/vshare.ico' %}" rel="icon" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css"/>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css"/>


    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class=" login"
      data-admin-utc-offset="28800"
style="background: url('{% static '/img/bg2.jpg' %}') no-repeat center;background-size: cover">

<!-- Container -->
<div id="container" style="margin: 50px auto">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="/user_/login">用户注册</a></h1>

        </div>


    </div>
    <!-- END Header -->


    <!-- Content -->
    <div id="content" class="colM">


        <div id="content-main">


            <form action="/user_/regist" method="post" id="login-form">
                {% csrf_token %}
                <div class="form-row">

                    <label class="required" for="id_username">*账号(必填, 登录账号, 也是你在社区中的名字):</label>
                    <input type="text" name="account" maxlength="254" autofocus required id="id_username"/>
                </div>
                <div class="form-row">

                    <label class="required" for="id_password">*密码(必填, 登录密码):</label>
                    <input type="password" name="pwd" required id="id_password"/>
                </div>
                <div class="form-row">

                    <label class="required" for="id_password">*确认密码(必填, 和上面密码保持一致):</label>
                    <input type="password" name="sure_pwd" required id="id_password"/>
                </div>
                <div class="form-row">

                    <label class="required" for="id_question">*自定义密保问题(必填, 万一密码忘记了以此找回):</label>
                    <input type="text" name="question" maxlength="254" autofocus required id="id_username"/>
                </div>
                <div class="form-row">

                    <label class="required" for="id_answer">*密保问题答案(必填, 密保答案):</label>
                    <input type="text" name="answer" maxlength="254" autofocus required id="id_username"/>
                </div>
                <div class="form-row">

                    <label class="not_required" for="id_phone">电话(选填, 承诺保密, 仅作为紧急联系方式):</label>
                    <input type="text" name="phone" maxlength="254" autofocus  id="id_username"/>
                </div>
                <div class="form-row">

                    <label class="not_required" for="id_tip">签名(选填, 让别人了解你):</label>
                    <input type="text" name="tip" maxlength="254" autofocus  id="id_username"/>
                </div>


                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="确定注册"/>
                    </div>
                <div class="row">
                    <a href="/user_/login" style="float: left; position: fixed">已有账号</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <a href="/" style="float: right; position: fixed">先去逛逛</a>
                </div>
            </form>
        </div>
        <br class="clear"/>
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>